@model Person

@if (Model != null)
{
    <h2>@Model.name</h2>
}

<form action="/Home/PersonSearch" method="post">
    <input name="Id" type="number" placeholder="Person" />
    <input type="submit" />
</form>

<form action="/Home/PlanetSearch" method="post">
    <input name="Id" type="number" placeholder="Planet" />
    <input type="submit" />
</form>




@*<h2>@Model.name</h2>
    <p>@Model.birth_year</p>

    <p><a href="/Home/PersonSearch">Person Search</a></p>
    <p><a href="/Home/StarshipSearch">Starship Search</a></p>
    <p><a href="/Home/PlanetSearch">Planet Search</a></p>*@
