@model Planet

@if (Model != null)
{
    <h2>@Model.name</h2>
}

<form action="/Home/PersonSearch" method="post">
    <input name="Id" type="number" placeholder="Person" />
    <input type="submit" />
</form>

<form action="/Home/PlanetSearch" method="post">
    <input name="Id" type="number" placeholder="Planet" />
    <input type="submit" />
</form>
